<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>
  <h1>Xin chào, <%= user.username %></h1>
  <p>Email: <%= user.email %></p>
  <a href="/api/auth/logout">Logout</a>
  <hr>
  <a href="/api/diary">Quản lý nhật ký</a>
</body>
</html>
